body {
  font-size: 16px;

  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: black;
  border-radius: 0px;
  border: 0;
  position: relative;
  
}

.navbar-brand {
  padding-top: 33px;
  position: absolute;
  width: 100%;
  margin-top: 4px;
  margin-left: -185px;
  margin-right: -4px;
  text-align: left;

}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  position: fixed;
  right: 82%;
  top: 10%;
  width: 17%;
  left-margin: -100px;
  margin-top: -90px;

}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list{
  background: grey;
  
  margin-top: 0.5px; /*Extremly important makes the menu to slide down and not cover the contents*/
}  
#nav-list a {
  font-weight: bold;
  color: white;
  font-size: 1.2em;
  text-align: center;
}
#nav-list a:hover{
  background-color: blue;
  text-decoration: none;

}
/* button*/
 .navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border:1px solid violet;
}

.text-center{
  color: white;
  
}
#collapsable-nav a{
  font-size: 1.5em;
  top-margin: -200px;
}
#Chicken{
  color: white;
  padding: 20px;
  border: solid;
  margin-top: 40px;
}